@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-color: #09050f;
  --color: #f5f5f5;
  --scrollarColor: #f5f5f591;
  --ds-page-width: 1400px; 
}

body {
  color: var(--color);
  background: var(--foreground-color);
}
body::-webkit-scrollbar {
  width: 15px;
  background: transparent;
}

body::-webkit-scrollbar-thumb {
  background: var(--scrollarColor);
  border-radius: 12px;
}

nav{
  max-width: var(--ds-page-width);
}
.navbar {
  background: rgba(255, 255, 255, 0.081);

}


.navlinks{
  background:rgba(255, 255, 255, 0.081);

}

.box{
  background:rgba(255, 255, 255, .02);
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@media  screen  and (max-width:640px){
  #small_device{
    display: block;
  }
}