@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-color: #09050f;
  --color: #f5f5f5;
  --scrollarColor: #f5f5f591;
  --ds-page-width: 1400px; 
}

body {
  color: var(--color);
  background: var(--foreground-color);
  scroll-behavior: smooth;
}
body::-webkit-scrollbar {
  width: 15px;
  background: transparent;
}

body::-webkit-scrollbar-thumb {
  background: var(--scrollarColor);
  border-radius: 12px;
}

nav{
  max-width: var(--ds-page-width);
}

#nav-blur{
  -webkit-backdrop-filter: blur(30px); /* Add this line first, it fixes blur for Safari*/
  backdrop-filter: blur(30px); 
}
.navbar {
  background: rgba(255, 255, 255, 0.081);

}

.contact-box{
  background: linear-gradient(311.97deg, #ffa51f 0%, #e93f0c 100%);
}
.contact-small-box{
  background: rgba(255, 255, 255, .03);
  border: 1px solid rgba(255, 255, 255, .1);
}

.project-blur{
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px); 
}

.box{
  background:rgba(255, 255, 255, .02);
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@media  screen  and (max-width:640px){
  #small_device{
    display: block;
  }
}